p {
    color:black;
    font-size:200%;
    text-align:justify;
}

h1 {
    background-color:white;
}            

body {
    background-color:white;
    color:black;
    margin:0 4px 0 0;
    border:12px solid;
}                                    